/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
/*a:link { -webkit-tap-highlight-color: #FF5E99; }*/ 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: Titus Soporan 
 */

* {
    margin: 0;
    padding: 0;
}
a {}
a:hover {}
html {
    height: 100%;
    width: 100%;
}
body {
    background: #e8e8f0;
    height: 100%;
    width: 100%;
}
header {
    background: #182945;
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
    text-shadow: 0px 1px 0px #081120;
}
header #logo {
    font-family: "Droid Sans", sans-serif;
    font-size: 48px;
    float: left;
    margin: 5px 10px;
    font-weight: bold;
}
header #logo a { 
    text-decoration: none;
    color: #fff;
    text-shadow: 0 3px 0 #081120;
}
header #logo a:hover {

}
nav {
    float: right;
    height: 100%;
}
nav ul li {
    display: inline;
}
nav ul li a {
    display: block;
    float: left;
    padding: 26px;
    color: #fff;
    font-family: "Droid Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
}
nav ul li a:hover {
    background: #d92727;
    color: #fff;
}
#main {
    clear: both;
    width: 90%;
    margin: 0px auto 0;
    min-height: 100%;
    height: 100%;
}
#intro h2,#about h2, #work h2, #contact h2 {
    display: inline;
    background: #222;
    color: #A1C436;
    padding: 20px;
    position: absolute;
    top: -20px; 
    left: -20px;
    font-family: "Droid Sans", sans-serif;
    font-size: 22px;
    -moz-border-radius: 10px 0 10px 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-radius: 10px 0 10px 0;
}
#intro, #about, #work, #contact {
    background: #fff;
    margin-top: 100px;
    height: 100%;
    position: relative;
    -moz-box-shadow: 10px 10px 50px 0px #888;
    -webkit-box-shadow: 10px 10px 50px 0px #888;
    box-shadow: 10px 10px 50px 0px #888;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radisu: 3px;
}

#intro {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    text-align: center;
}
#intro h3 {
    font-size: 72px;
    color: #222;
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    text-shadow: 0 1px 0 #fff;
}
#intro h3 a {
    color: #d92727;
    text-decoration: none;
}
#intro h3 a:hover {
    color: #b40e0e;
}
#about div {
    float: left;
    width: 50%;
}
#about div h3 {
    padding: 75px 0 0;
    font-size: 38px;
    border-bottom: 1px solid #eee;
    margin: 0 20px;
}
#aboutme {
    width: 50%;
    float: left;
}
#services {
    display: block;
    float: left;
    width: 50%;
}
#aboutme p, #services p {
    padding: 5px 20px 0;

}
#skills, #hobbies  {
    margin: 20px 50px;
    padding: 0;    
}
#hobbies li, #skills li {
    font-size: 14px;
    list-style: disc;
    font-weight: bold; 
}

#work {
    clear: both;
    height: auto !important;
}
#projects {
    margin: 0;
    padding: 50px 20px 0;
    overflow: hidden;
}
li.project {
    width: 50%;
    float: left;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
    color: #e8e8f0;
    overflow: hidden;
}
ul.skills {
    margin: 0;
    padding: 0 10px;
}
li.skill {
    background: #A1C436;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 2px 3px;
    padding: 3px;
    list-style: none;
    display: block;
    float: left;
    text-shadow: 0 1px 0 #7d9a2f;
}
div.slideshow {
    float: left;
    width: 65%;
    height: auto;
    min-height: 350px;
    overflow: hidden;
    position: relative;
    background: #111;
}
div.slideshow:hover {
    opacity: 0.9;
}

div.slideshow img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
div.info {
    float: left;
    width: 35%;
    background: #222;
    min-height: 350px;
    text-shadow: 0 1px 0 #000;
}
div.info h3 {
    font-family: "Droid Sans", sans-serif;
    font-size: 18px;
    padding: 10px;
}
div.info p {
    padding: 10px;
}
div.info p.view {
    display: block;
    background: #46a5e5;
    font-size: 16px;
    text-shadow: 0 1px 0 #3b7fac;
    white-space: nowrap;
    overflow: hidden;
}
div.info p.view a {
    color: #fff;
}
div.info p.view a:hover {
    color: #1174b6;
    text-shadow: 0 1px 0 #0f5889;
}

#contact {
    clear: both;
}
#contact form label {
    display: block;
    font-size: 20px;
    padding: 5px 0;
}
#contact form input, textarea {
    border: 2px solid #aaa;
    padding: 5px;
    background: #ccc;
}
#contact form input:hover, textarea:hover {
    background: #fff;
}
#contact form {
    margin-top: 50px;
    padding: 0 20px 0;
    border-left: 1px solid #eee;
}
#contact form input[type=submit] {
    background: #222;
    margin: 10px 20px;
    color: #ccc;
    text-align: center;
    padding: 10px 25px;
    border: none;
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#contact form input[type=submit]:hover {
    background: #A1C436;
    color: #fff;
}
#contact div {
    width: 50%;
    float: left;
    background: #fff;
    margin: 0;
    padding: 0;
}
#contact div h3 {
    padding: 75px 20px 0;
    font-size: 38px;
}
#contact div p {
    padding: 10px 20px 0;
    font-size: 14px;
}
#contact address {
    font-style: normal;
    font-size: 18px;
}

.errorlist {
    margin: 10px 20px 0;
    padding: 0;
    border: 1px solid #af0a0a;
}
.errorlist li {
    background: #d92727;
    color: #fff;
    list-style: none;
    padding: 5px;
}
footer {
    width: 100%;
    background: #111;
    text-align: center;
    position: fixed; 
    margin-top: -150px;
    clear: both;
    z-index: 9999;
    bottom: 0;
    height: 100px;
    opacity: 0.9;
}
footer img {
    float: right;
    margin: 20px;
}
footer p {
    background: #000;
    position: absolute;
    width: 100%;
    bottom: 0;
}


@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

