{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block main %}
<div id="main">
    <section id="intro">
        <h2> Intro. </h2>
    </section>

    <section id="about">
        <h2> About. </h2>
    </section>

    <section id="work">
        <h2> Work. </h2>

        <ul id="projects">
        {% for p in projects %}
        <li>{{ p }}</li>
        {% endfor %}
        </ul>
    </section>

    <section id="contact">
        <h2> Contact. </h2>
    </section>
</div>
{% endblock main %}

{% block footer %}
    <footer>
    Footer and other interesting stuff goes here.
    </footer>
{% endblock footer %}


