{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylsheet" type="text/css" href="{{ MEDIA_URL }}css/thickbox.css">

{% endblock styles %}

{% block body_class %}home{% endblock %}

{% load thumbnail %}
{% load portfolio_tags %}

{% block main %}
<div id="main">
    <section id="intro">
        <h3> I am a <span>web developer</span>, zombie wrangler, and general software mercernary. And, I like <span>ponies</span>.</h3>
    </section>

    <section id="about">
        <h2> About </h2>
    </section>

    <section id="work">
        <h2> Work </h2>
        <ul id="projects">
        {% for p in projects %}
            <li class="project">
                
                <div class="slideshow">
                {% get_resource p 'logo' as logo %}
                {% get_resource p 'screenshot' as screen %}
                {% thumbnail screen.resource "1000" crop="center" as im %}
                    <a class="thickbox" href="{{ im.url }}"><img src="{{ logo.resource.url }}"></a>
                {% endthumbnail %}
                </div>

                <div class="info">
                <h3>{{ p.name }}</h3>
                <p class="client">{{ p.client }} </p>
                
                <p class="view"><span>View</span>: {{ p.url|urlizetrunc:15 }} </p>
                <p class="desc">{{ p.description|truncatewords:25 }}</p>
                <ul class="skills">
                    {% for s in p.skills.all %}
                        <li class="skill"> {{ s }} </li>
                    {% endfor %}
                </ul>
                </div>
            </li>
        {% endfor %}
        </ul>
    </section>

    <section id="contact">
        <h2> Contact </h2>
        <div class="contact-info">
            <h3>Let's get in touch.</h3>
            <p>
                If you'd like to chat about a project or just say hi, please use the contact form .

                You can also contact me via these methods:
             </p>
        </div>
        
        <div class="contact-form">
            <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send" next="#contact">
            </form>
        </div>
    </section>
</div>


{% block js %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}js/libs/easing.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/libs/thickbox.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            if ($('.errorlist').length) {
                $('body, html').animate({scrollTop: $('#contact').offset().top - 100}, 1000, 'easeOutBack');
            }

            $('nav li a').click(function () { 
            
                var url = this.href;           
                var pageid = url.split('#')[1];
                
                var offset = $('#'+pageid).offset();

                $('body, html').animate({scrollTop: offset.top - 100}, 1000, 'easeOutBack');
                return false;
            });
       
        });
    </script>
{% endblock js %}

{% endblock main %}

{% block footer %}
    <footer>
    Footer and other interesting stuff goes here.
    </footer>
{% endblock footer %}


