{% extends 'base.html' %}

{% block title %}Web Developer from Ontario Canada{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylsheet" type="text/css" href="{{ MEDIA_URL }}css/thickbox.css">

{% endblock styles %}

{% block body_class %}home{% endblock %}

{% load thumbnail %}
{% load portfolio_tags %}

{% block main %}
<div id="main">
    <section id="intro">
        <h3> I am a <a href="#about">web developer</a>, zombie wrangler, and general software mercernary. Oh, and I like <a href="http://djangoproject.com">ponies</a>.</h3>
    </section>

    <section id="about">
        <h2> About </h2>

        <div id="aboutme">
            <h3> Hey there! </h3>
        </div>

        <div id="services">
            <h3> What I do </h3>
        </div>
    </section>

    <section id="work">
        <h2> Work </h2>
        <ul id="projects">
        {% for p in projects %}
            <li class="project">
                
                <div class="slideshow">
                {% get_resource p 'logo' as logo %}
                <a href="{{ p.url }}" title="{{ p.name }}"><img src="{{ logo.resource.url }}"></a>
                </div>

                <div class="info">
                <h3>{{ p.name }}</h3>
                <p class="client">{{ p.client }} </p>
                
                <p class="view"><span>View</span>: {{ p.url|urlizetrunc:15 }} </p>
                <p class="desc">{{ p.description|truncatewords:25 }}</p>
                <ul class="skills">
                    {% for s in p.skills.all %}
                        <li class="skill"> {{ s }} </li>
                    {% endfor %}
                </ul>
                </div>
            </li>
        {% endfor %}
        </ul>
    </section>

    <section id="contact">
        <h2> Contact </h2>
        <div class="contact-info">
            <h3>Let's get in touch.</h3>
            <p>
                If you'd like to chat about a project or just say hi, please use the contact form .

                You can also contact me via these methods:
             </p>
        </div>
        
        <div class="contact-form">
            <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send" next="#contact">
            </form>
        </div>
    </section>
</div>


{% block js %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}js/libs/easing.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            if ($('.errorlist').length) {
                $('body, html').animate({scrollTop: $('#contact').offset().top - 100}, 1000, 'easeOutBack');
            }

            $('a[href*=#]').click(function () { 
            
                var hash = this.href.split('#')[1];
                
                var offset = $('#'+hash).offset();

                $('body, html').animate({scrollTop: offset.top - 100}, 1000, 'easeOutBack');
                return false;
            });
       
        });
    </script>
{% endblock js %}

{% endblock main %}

{% block footer %}
    <footer>
    <a href="http://djangoproject.com"><img src="http://media.djangoproject.com/img/badges/djangopowered126x54_grey.gif" border="0" alt="Powered by Django" title="Powered by Django"></a>
   <p> {% now "Y" %} <a href="http://tsoporan.com" title="Titus Soporan - Web Develper">tsoporan.com</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>. </p>
    </footer>
{% endblock footer %}


